<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#025aa5">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="/media/styles/style.css">

<script src="/media/js/jquery.min.js"></script>
<script src="/media/js/tether.min.js"></script>
<script src="/media/bootstrap/js/bootstrap.min.js"></script>

<link rel="icon" type="image/png" href="media/images/favicon.png" />

<title>{{ site.title }}</title>
